---
layout: default
title: About
permalink: /about/
---


<ul id="menu" >
    <li data-menuanchor="Statement" class="active"><a href="#Statement">Statement</a></li>
    <li data-menuanchor="About"><a href="#About">About</a></li>
    <li data-menuanchor="Interests"><a href="#Interests">Interests</a></li>
    <li data-menuanchor="Ideas"><a href="#Ideas">Ideas</a></li>
</ul>
 
<div id="fullpage" class="fullpage-base">


<div class="section">
    <div class="top-container">
        <img class="personal-img" src="{{site.baseurl}}/assets/img/about_header_square.png"  alt="Author image">
        <div class="top-text">
            <div class="header-text">
                <h1>I make friends <br> and experiences <br>everywhere I go.</h1>
                <p style="margin-top:6rem;margin-left:6.5rem;">      
                    "You will never be truly satisfied by<br>work until you are satisfied by life"
                    <br><br>-Heather Shuck 
                </p>
            </div>            
        </div>            
    </div>
</div>

<div class="section">

    <div class="page-container">
        <div class="page-title" data-aos="example-anim3">
            <hr></hr>
            <h1 >
            About Me
            </h1>
            <hr></hr>
        </div>  
        <h2 class="page-description" data-aos="example-anim3">
            A little about where I came from, <br>where I am, and where I'm going.
        </h2>
        <div class="page-content with-padding" >
            <h1 data-aos="example-anim3">The Origins</h1>
            <p data-aos="example-anim3"> I was raised in a military family, specifically, a Marine Corps family. My parents met while they were
                serving in 29 Palms, CA; my Mom as an electrician and my father as an explosive ordinance disposal technician.
                They travelled the world having three boys along the way (the youngest of which is myself), 
                and eventually settling down in Elizabeth, CO, after my father retired from the Marine Corps. 
            
            <h1 data-aos="example-anim3">Back to School</h1>
            <p data-aos="example-anim3"> By the time my father retired I was just entering middle school.
                During my time in middle and high school, I developed a love of music; jazz to be precise. I played saxophone
                in the school bands eventually making it into the all-state ensembles. I had aspirations to become a professional 
                jazz musician, though I (and especially my mother) had concerns about the standard of living that might lead to.
                One night before my senior year of high school my mother mentioned to me that the military branches have bands, and
                suggested I look into them as a way to pursue music. In a matter of days I had auditioned and signed up for the Marine 
                Corps.
            
            <h1 data-aos="example-anim3">Semper Fi</h1>
            <p data-aos="example-anim3"> My time in the Marine Corps was really special to me. I learned how to conduct myself, what it means to lead others,
                and how to set/achieve goals. I had joined to be a musician, but by the end of my enlistment I just wanted to be 
                a Marine. But despite my love of the Corps, I had decided it best to get out and begin life as a civilian. I had
                almost no idea what I wanted to do, though I had a pretty clear idea of what I didn't want to do. Communications,
                political science, nothing of the like interested me. After reviewing the available majors, I knew I had to be 
                a computer engineer.
            
            <h1 data-aos="example-anim3">Go Buffs</h1>
            <p data-aos="example-anim3"> I applied to only one school; University of Colorado, Boulder. I had a gut feeling that it was where I was meant to be
                and so I put all my effort into it. Once accepted, I began studying computer engineering. As I learned in the Marine
                Corps, what you get out of something is entirely up to you. I knew that making the most of my time at University was
                my responsibility. I quickly joined as many engineering clubs as I could, searching for a place that I could develop
                myself as an engineer. By the end of my first semester, I had joined the SpaceGrant program at CU Boulder. As 
                part of this program, I joined the PolarCube Team, a team of about 20 engineering students working to build a 3U
                cubesat, in order to fly a mini-radiometer in low earth orbit. I fell in love with the work, the people, and embedded 
                systems all in the 2.5 years I spent on that project. By the time I was getting ready to graduate, I knew exactly 
                what I wanted to do with my life. 
            
                
            <h1 data-aos="example-anim3">Rocket Science</h1>
            <p data-aos="example-anim3"> My time in university provided me with the experience and expertise to thrive as an embedded systems engineer,
                particularly in aerospace. I applied and interviewed with several companies as I approached graduation, none of which
                seemed as attractive an opportunity as the NASA Jet Propulsion Laboratory. I was given an offer as an embedded flight
                software engineer, gladly accepted, and moved to Los Angeles, CA. I've been here for about 2 years, and haven't looked 
                back.

            <h1 data-aos="example-anim3">Moving Forward</h1>
            <p data-aos="example-anim3"> What matters most to me is being around good people, doing good work. I don't know where
                the next chapter of my life will take me, but I'm going to continue to pursue those two things. I've been
                blessed with friends and family to support me through my endeavors thus far, and with their continued support
                I'm ready for whatever life gives me and where ever it takes me!
        </div>      
    </div>
</div>
    
<div class="section">
    <div class="page-container">
    <div class="page-title" data-aos="example-anim3">
            <hr></hr>
            <h1 >
            Interests & Hobbies
            </h1>
            <hr></hr>
    </div> 
    <h2 class="page-description" data-aos="example-anim3">
        Some things I like to do<br> when I'm not working.
    </h2>
                
    <div class="chapters cf" data-aos="example-anim3">
        <div class="resume_wrapper resume_flex-row">
            {% for post in site.interests %}
            <div class="chapter">
                {% if post.img %}
                    <img src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
                {% endif %}
                </a>
                <div class="chapter_inner">
                    <h3 class="chapter_title">{{post.title}}</h3>
                </div>
                </a>
            </div>
            {% endfor %}        
        </div>
    </div>
</div>
</div>

<div class="section" id="ideas-section">
    <div class="page-container">
        <div class="page-title"  data-aos="example-anim3">
            <hr style="border-top: 4px solid #cecece;"></hr>
            <h1 style="color:#cecece">
            Ideas to Live By
            </h1>
            <hr style="border-top: 4px solid #cecece;"></hr>
        </div> 
        <h2 class="page-description" style="color:#cecece" data-aos="example-anim3">
            Ideas are the catalyst for action.
        </h2>
        <div class="life-list">
            <ul>
                <li data-aos="example-anim3"><a href="https://www.lifehack.org/692542/the-importance-of-time-management" target="_blank">Time Management</a></li>
                <li data-aos="example-anim3"><a href="https://magazine.engineerjobs.com/2013/engineering-the-work-life-balance.htm" target="_blank">Work Life Balance</a></li>
                <li data-aos="example-anim3"><a href="https://willyoulaugh.com/dont-take-life-seriously/" target="_blank">Don't Take Life Too Seriously</a></li>
                <li data-aos="example-anim3"><a href="https://www.usmcu.edu/Portals/218/LLI/MLD/Fidelity/Fidelity-%20Leadership%20Principles.pdf?ver=2018-09-26-095728-130" target="_blank">Lead Like a Marine</a></li>
                <li data-aos="example-anim3"><a href="https://method-r.com/wp-content/uploads/2017/06/measure-once-cut-twice.pdf" target="_blank">Measure Twice, Cut Once</a></li>
                <li data-aos="example-anim3"><a href="https://code.tutsplus.com/tutorials/3-key-software-principles-you-must-understand--net-25161" target="_blank">DRY, KISS, & YAGNI</a></li>
                <li data-aos="example-anim3"><a href="https://www.forbes.com/sites/soniakapadia/2012/06/20/surround-yourself-with-great-people-building-the-team/#e5504eb5ebed" target="_blank">Surround Yourself with Great People</a></li>
            </ul>
        </div>
    </div>
</div>

</div> <!-- End Full Page div --> 


    
<script type="text/javascript" src="../dist/fullpage.js"></script>


<script type="text/javascript">
var myFullpage = new fullpage('#fullpage', {
    menu: '#menu',
    anchors: ['Statement', 'About', 'Interests', 'Ideas'],
    sectionsColor: ['#00000000','#dbd5cc', '#ece9e3', '#dbd5cc'],
    autoScrolling: false,   
    licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
    paddingBottom: 0,
    paddingTop: 0
});
</script>
    