---
layout: default
title: About
permalink: /about/
---


<ul id="menu" >
    <li data-menuanchor="Statement"><a href="#Statement">Statement</a></li>
    <li data-menuanchor="About" class="active"><a href="#About">About</a></li>
    <li data-menuanchor="Interests"><a href="#Interests">Interests</a></li>
    <li data-menuanchor="Ideas"><a href="#Ideas">Ideas</a></li>
</ul>
 
 <div id="fullpage" class="fullpage-base">

 <!-- <div class="top-page-image">
        <img src="{{site.baseurl}}/assets/img/about_header.png" style="max-width:100vw;" alt="Author image">
</div> -->
    

<div class="section " id="section0" style="  background-image: url('{{site.baseurl}}/assets/img/about_header.png');background-repeat: no-repeat;background-attachment: fixed;background-size: 100% 100%;">

    <div class="about-text">
        <h1>I make friends <br> and experiences <br>everywhere I go.</h1>
        <p style="margin-top:6rem;margin-left:6.5rem;">      
            "You will never be truly satisfied by<br>work until you are satisfied by life"
            <br><br>-Heather Shuck 
        </p>
    </div>            
</div>

<div class="section " id="section1">
    <h1 class="page-title">About Me</h1>

    <h2 class="page-description">
        A little about where I came from, <br>where I've been, and where I'm going.
    </h2>
    <div class="page-content">
        <h1>The Origins</h1>
        <p> I was raised in a military family, specifically, a Marine Corps family. My parents met while they were
            serving in 29 Palms, CA; my Mom as an electrician and my father as an explosive ordinance disposal technician.
            They travelled the world having three boys along the way (the youngest of which is myself), 
            and eventually settling down in Elizabth, CO, after my father retired from the Marine Corps. 
        
        <h1>Back to School</h1>
        <p> By the time my father retired I was just entering middle school.
            During my time in middle and high school, I developed a love of music; jazz to be precise. I played saxophone
            in the school bands eventually making it into the all-state ensembles. I had aspirations to become a professional 
            jazz musician, though I (and especially my mother) had concerns about the standard of living that might lead to.
            One night before my senior year of high school my mother mentioned to me that the military branches have bands, and
            suggested I look into them as a way to pursue music. In a matter of days I had auditioned and signed up for the Marine 
            Corps.
        
        <h1>Semper Fi</h1>
        <p> My time in the Marine Corps was really special to me. I learned how to conduct myself, what it means to lead others,
            and how to set/achieve goals. I had joined to be a musicain, but by the end of my enlistment I just wanted to be 
            a Marine. But despite my love of the Corps, I had decided it best to get out and begin life as a civilian. I had
            almost no idea what I wanted to do, though I had a pretty clear idea of what I didn't want to do. Communications,
            political science, nothing of the like interested me. After reviewing the available majors, I knew I had to be 
            a computer engineer.
        
        <h1>Go Buffs</h1>
        <p> I applied to only one school; University of Colorad, Boulder. I had a gut feeling that it was where I was meant to be
            and so I put all my effort into it. Once accepted, I began studying computer engineering. As I learned in the Marine
            Corps, what you get out of something is entirely up to you. I knew that making the most of my time at University was
            my responsibilty. I quickly joined as many engineering clubs as I could, searching for a place that I could develop
            myself as an engineer. By the end of my first semester, I had joined the SpaceGrant program at CU Boulder. As 
            part of this program, I joined the PolarCube Team, a team of about 20 engineering students workign to build a 3U
            cubesat, in order to fly a mini-radiometer in low earth orbit. I fell in love with the work, the people, and embedded 
            systems all in the 2.5 years I spent on that project. By the time I was getting ready to graduate, I knew exactly 
            what I wanted to do with my life. 
        
            
        <h1>Rocket Science</h1>
        <p> My time in university provided me with the experience and expertise to thrive as an embedded systems engineer,
            particularly in aerospace. I applied and interviewed with several companies as I approached graduation, none of which
            seemed as attractive an opportunity as the NASA Jet Propulsion Laboratory. I was given an offer as an embedded flight
            software engineer, gladly accepted, and moved to Los Angeles, CA. I've been here for about 2 years, and haven't looked 
            back!
    </div>      

    <!-- <div class="page-content">
        <h1>How it all began</h1>
        <p>My parents met while they were both serving in the Marine Corps; my
        mother an electrician and my father working in explosive ordinance disposal. My mother served
        one enlistment, later becoming a recreational therapist while my father remained in the Marine Corps
        for 24 years until his retirement. During this time my folks moved all around the world, eventually having
        three children, the youngest of which is myself. After my father's retirement, my family moved to Elizabeth, Colorado,
        where my father continued disposing of explosive ordinance as a civilian, and my brothers and I finished primary school.
    <div class="page-content">
        <h1>To Colorado..</h1>
        <p>Shortly after moving to Colorado, I (through little choice of my own) ended up playing in my middle school band. After 
        being given a short opportunity to try each instrument, I was determined to be a drummer. After failing the audition 
        in order to be a drummer, I defaulted to the alto saxophone. Once I had gotten over the dissapointement of my rhythmic 
        shortcomings, I actually began to enjoy the saxophone, and music more generally, very much. So much so, that by the time 
        I had reached high school (to my mother's dismay) I was determined to be a professional jazz musician.
    <div class="page-content">
        <h1>Joining The Marine Corps</h1>
        <p>
        One night at the family dinner table, my mother concerned for my potentially meek future as a musician, suggested looking
        into the military bands. I had no idea at the time, but each military branch has several bands each, largely for 
        ceremonial and recruiting purposes. I was always intruiged by the idea of joining the military and after only a few 
        days' research, I was on a new path; I was to be a Marine Corps Musician. Before beginning my senior year of high school,
        I had passed the audition. All that was left was to graduate high school, and then I was off to bootcamp.
    <div class="page-content">
        <h1>Semper Fi</h1>
        <p>
        After a 4 month stint at the Naval School of Music in Virginia, I was stationed in New Orleans, Louisiana as part of 
        Headquarters Battalion, 4th Marine Division. It was there that I really began to develop into an adult. With my
        family and friends a thousand miles away, I was faced with challenges and responsibilities I could not have imagined
        before joining the Marine Corps. Contraty to what I had imagined happening, I grew a love and passion for the Marine 
        Corps, but a disdain for professional music. I quickly realized that mixing an artistic passion with work made for 
        a tricky lifestyle. The balance between personal expression and mandated business is a difficult one to strike, and 
        one that I no longer had interest in obtaining.
    <div class="page-content">
            <h1>Transitioning Out</h1>
            <p>
            During my time in the Marine Corps, I had dablled with some basic programming. Things like Visual Basic for Excel macros,
            or simple python scripts to perform basic calculations. I was by no means a computer wiz, but as I was transitioning out
            of the Marine Corps, I knew I had to develop a useful skill and preferrably one that I enjoyed applying. I  -->



</div>
    
<div class="section " id="section2">
    <h1 class="page-title">Interests & Hobbies</h1>

    <h2 class="page-description">
        Some things I like to do<br> when I'm not working.
    </h2>
                
    <div class="chapters cf">
        <div class="resume_wrapper resume_flex-row">
            {% for post in site.interests %}
            <div class="chapter">
                <!-- <a href="{{post.url | prepend: site.baseurl}}"> -->
                {% if post.img %}
                    <img src={{ "/assets/img/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
                {% endif %}
                </a>
                <div class="chapter_inner">
                    <!-- <p class="chapter_number">{{post.date | date: '%Y, %b %d'}}</p> -->
                    <h3 class="chapter_title">{{post.title}}</h3>
                </div>
                </a>
            </div>
            {% endfor %}        
        </div>
    </div>
</div>

<div class="section" id="section-idea">
    <h1 class="page-title" style="color:#cecece">Ideas to Live By</h1>

    <h2 class="page-description" style="color:#cecece">
        Ideas are the catalyst for action.
    </h2>
        <div class="life-list">
            <ul>
                <li><a href="https://www.lifehack.org/692542/the-importance-of-time-management" target="_blank">Time Management</a></li>
                <li><a href="https://magazine.engineerjobs.com/2013/engineering-the-work-life-balance.htm" target="_blank">Work Life Balance</a></li>
                <li><a href="https://willyoulaugh.com/dont-take-life-seriously/" target="_blank">Don't Take Life Too Seriously</a></li>
                <li><a href="https://www.usmcu.edu/Portals/218/LLI/MLD/Fidelity/Fidelity-%20Leadership%20Principles.pdf?ver=2018-09-26-095728-130" target="_blank">Lead Like a Marine</a></li>
            
            </ul>
        </div>
          
    
</div>

</div> <!-- End Full Page div --> 


    
<script type="text/javascript" src="../dist/fullpage.js"></script>
<script type="text/javascript" src="../dist/example.js"></script>


<script type="text/javascript">
var myFullpage = new fullpage('#fullpage', {
    menu: '#menu',
    anchors: ['Statement', 'About', 'Interests', 'Ideas'],
    sectionsColor: ['#00000000','#dbd5cc', '#ece9e3', '#dbd5cc'],
    autoScrolling: false,   
    licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
    paddingBottom: 0,
    paddingTop: 0
});
</script>
    