  <nav class="hamburger-menu">
  <ul>
      <li><a href="{{site.baseurl}}/">Home</a></li>
      <li><a href="{{site.baseurl}}/projects/">Projects</a></li>
      <p>Get to know me...</p>
      <li class='menu-indent'><a href="{{site.baseurl}}/resume/">Professionally</a></li>
      <li class='menu-indent'><a href="{{site.baseurl}}/about/">Personally</a></li>
  </ul>
</nav>     

<div class="hamburger-button">
    <div class="hamburger hamburger--spin">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
    </div>
</div>
    


        