<head>
	<!-- Meta Data -->
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="Alvaro Trigo Lopez" />
	<meta name="description" content="fullPage full-screen normal scrolling with autoScrolling." />
	<meta name="keywords"  content="fullpage,jquery,demo,screen,fullscreen,normal scroll,autoscrolling, scroll" />
	<meta name="Resource-type" content="Document" />	
	<meta name="description" content="{{ page.description }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="">
	
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#d25469">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#d25469">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#d25469">
	
	<!-- Title -->
	<title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
	
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	<!-- <link rel="stylesheet" href="{{ "/assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}"> -->
	
	<!-- Styles -->
	<link href="{{ "/dist/hamburgers.css" | prepend: site.baseurl }}" rel="stylesheet">
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" type="text/css" href="{{ "/dist/fullpage.css"  | prepend: site.baseurl }}">
	<link rel="stylesheet" type="text/css" href="{{ "/dist/example.css"   | prepend: site.baseurl }}">
	<style>
		.section{
			background-size: cover;
			min-width:900px;
			padding:0;
		}
		#section-idea{
			background-image: url({{site.baseurl}}/assets/img/idea-back.jpg);
			/* padding: 6% 0 0 0; */
		}
	</style>
	<!-- <link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{ "/assets/img/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/img/favicon/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/img/favicon/apple-touch-icon-114x114.png" | prepend: site.baseurl }}"> -->
	
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
