  

        <nav class="hamburger-menu">
          <div class="hamburger-menu-list">
              <div class="hamburger_item"><div  class="hamburger_link"><a href="{{site.baseurl}}/intro/" >Home</a></div></div>
              <div class="hamburger_item"><div  class="hamburger_link"><a href="{{site.baseurl}}/projects/" >Projects</a></div></div>
              <div style="margin-bottom:.4rem;" class="hamburger_text">Get to know me...</div>
              <div class="hamburger_item"><a href="{{site.baseurl}}/resume/"><div class="hamburger_div">Professionally</a></div></div>
              <div class="hamburger_item"><a href="{{site.baseurl}}/about/"><div class="hamburger_div">Personally</a></div></div>
          </div>
        </nav>     

        <div class="hamburger-button">
            <div class="hamburger hamburger--spin">
                <div class="hamburger-box">
                  <div class="hamburger-inner">

                  </div>
                </div>
            </div>
        </div>
            


        