#cu_logo {
	background-color: #143a20c7;
}

#lunar_flashlight {
	background-color: #020202;
}


#chimera {
	background-color: #3b3b3a;
}


#ccar {
	background-color: #4b749c;
}


#usmc {
	background-color: #2e4b37;
}


#polar_cube {
	background-color: #f0f0f0;
}

#europa {
	background-color: rgb(199, 188, 173);
}

#loft_orbital {
	background-color:  rgb(18, 32, 54);
}

#amazon_kuiper {
	background-color:  rgb(42, 89, 164);
}