.top-page-image{
    position: fixed;
    top:0;
    left:0;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-delay: 0.75s;
    img{
        width:100%;
        height:100vh;
    }
}



%top-container-base{
    display: block;
    height:100%;
    max-height: 100%;
    width:100%;
}

.project-container{

    @extend %top-container-base;
    flex-direction: column;
    align-items:center;
}

.top-container{
    @extend %top-container-base;
}

.home-container{
    display: flex;
    height:100%;
    width:100%;
    @extend %top-container-base;
    position: absolute;
}


%base-top-img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    position:relative;
    animation-duration: 1.3s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-delay: 0.75s;
    padding-top:150px;
    height: auto;
}

.top-img{
    @extend %base-top-img;
    padding-top:0;
    margin-left: 0;
    margin-right: 0;
    height:100%;
    object-fit: contain;
    min-height:400px;
}


.personal-img{
    width:300px;
    @extend %base-top-img;
}

.resume-img{
    width:300px;
    @extend %base-top-img;
}


%top-text-base{


    margin:auto;
    padding:2rem;

    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    min-width:700px;
    max-width:800px;
    min-height:500px;
    height:100%;
    max-height:100%;
    text-align: left;
    .header-text{
        position:relative;  
        h1{
            text-align: center;
            animation-duration: 0.7s;
            animation-fill-mode: both;
            animation-name: fadeInDown;
            animation-delay: 0.75s;
            color: #2b281d;
            margin:0;
            font-weight: 1000;
            font-size:4.2rem;
            line-height: 4rem;
        }
    
        h2{
            line-height: 1.4rem;
            animation-duration: 0.7s;
            animation-fill-mode: both;
            animation-name: fadeInDown;
            animation-delay: 0.75s;
            color: #352f22;
            font-weight: 1000;
            font-size:1.6rem;
            margin: 0 0 0 4rem;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
    
        h3{
            animation-duration: 0.7s;
            animation-fill-mode: both;
            animation-name: fadeInDown;
            animation-delay: 0.75s;
            color: #352f22;
            font-weight: bold;
            font-size:.85rem;
            margin: 0 0 0 4rem;
            font-family: 'Montserrat', sans-serif; 
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
        p{
            animation-duration: 0.7s;
            animation-fill-mode: both;
            animation-name: fadeInDown;
            animation-delay: 0.75s;
            font-size:1.4rem;
            margin-top: 3rem;
            margin-right: 10%;
            margin-left: 10%;
        }
    }   
}

.top-text{
    @extend %top-text-base;
    display: block;
    flex-direction: column;
    justify-content: space-between;
}

.top-text-home{
    @extend %top-text-base;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .header-text{
        position:relative;  
        h1{
            text-align: left;
        }
    }
}

.home-social{
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.75s;
    padding: 1rem 0;
    list-style: none;
    margin: .8rem;
    text-align: center;
    border-bottom: 1px solid #333333;
        
    li {
        display: inline-block;
        margin: 0 1.5rem 0 1.5rem;
      }
      
    a {
        color: #7b7b7b;
        display: inline-block;
        padding: 0.5rem 1rem;
        margin: 0.3rem 0;
        text-decoration: none;
        font-size: 1.75rem;
        -webkit-border-radius: 0.3rem;
                border-radius: 0.3rem;
        background-color: #262626;
        -webkit-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out;
      }
      
    a:hover {
        background-color: #4e4e4e;
        color: #ffffff;
      }
}
