
.hamburger-menu{
    -webkit-transition: top 0.5s ease;
    -moz-transition: top 0.5s ease;
    -ms-transition: top 0.5s ease;
    -o-transition: top 0.5s ease;
    transition: top 0.5s ease;
    background: #d6d3cce0;
    border-radius: 5px;
    line-height: normal;
    position: fixed;
    right: 0;
    top: -15.00rem;
    
    // border: 1px solid;
    // padding: 10px;
    box-shadow: -4px 6px 13px #585858;

    font-size: 2rem;
    height: 12.65rem;
    width: auto;
    display: flex;
    flex-direction: column;
   
      ul{
        text-align:left;
        font-size: 1.05rem;
        font-weight: 900;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.05em;
        margin: 2.75rem 0 0 0;
        p{

            
          font-size: .9rem;
          font-weight: bold;
          opacity: .9;
          color: #363636;

          text-align:left;
          font-family: 'Montserrat', sans-serif;
          text-decoration: none;
          display:block;
          margin: .9rem 1rem .5rem 1rem;
        
        }
        .menu-indent{
            padding-left:1rem;
        }
        li{
            padding:.3rem 0 .3rem 0;
            transition: 0.35s;
            a{
                color: #383737;
                text-decoration: none;
                display:block;
                background-color: #2e2e2e00;
                margin: 0 1rem 0 1rem;
                opacity: .6;
                transition: 0.35s;
            }
        }
  
        li:hover{
          background-color: #2e2e2ed3;
          a{
            opacity: 1;
            color: #dfd7d0;
           }
        } 
  
        }
      }
    
    
  
  .hamburger-menu.expanded {
    top: -.5rem; 
  }
  
  .hamburger-button{

      position: fixed;
      top: 0;
      right:0;
      z-index: 200;
  }
  