@import url('https://unpkg.com/primer/build/build.css');
.hidden{
    display: none
}


.project-grid{
    padding: 2rem 2rem 2rem 2rem;

}


.project-checkbox{
    width:100%;
    height:auto;
    h1{    
        animation-duration: 1.3s;
        animation-fill-mode: both;
        animation-name: fadeIn;
        animation-delay: 0.5s;
        // margin-bottom: 1.5rem;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: .75rem;
        font-weight: 600;
    }
}
.animated-switch{
    animation-duration: 1.3s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-delay: 0.5s;
}

.container {
    display: flex;
    justify-content: center;
    
    justify-items: center;
    // background-color:#ffffff;
    position: relative;
    // padding-left: 35px;
    // margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    width:25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
      
    position: relative;
    // top: 20rem;
    // left: 0;
    height: 25px;
    width: 25px;
    border-radius: 8px;
    background-color: rgb(168, 168, 168);
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: relative;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }