

.spectrum_label{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: left;
    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    font-size: 13px;
    font-weight: 1000;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: .5rem;
}

.skill-spectrum{
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto;
    margin-left: 100px;
    margin-right: 100px; 
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;

    .spectrum-col:hover .col-img{
        transform: scale(1.1);
    }
    .spectrum-col:hover .col-list{
        opacity: 1;
        color: #3f3e3d;
        // transform: scale(1.025);

    }
    .spectrum-col{
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    .col-img{
        transition: transform .2s; /* Animation */
        margin-bottom: 1.5rem;
        img{
            height: 15px; 
            width:100%;
        }
    }
    
    .col-list{
        transition: .2s; /* Animation */
        font-size: .75rem;
        text-align: left;
        opacity: .8;
        font-weight: bold;
        letter-spacing: .1rem;
        text-transform: uppercase;
        color: #3b3a3a;
        margin: 0 1.5rem 1.5rem 1.5rem;
        ul{
            margin-bottom: 25px;
        }
        li{
            font-weight: 400;
            font-size: 1.05rem;
            text-align: left;
            list-style: none;
            color: #2e1e11;
            text-transform: none;
            margin-left: 20px;
        }
    }
}
