
.top-page-image{
    position: fixed;
    top:0;
    left:0;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-name: fadeIn;
    animation-delay: 0.75s;
    img{
        
        min-height: 100vh;
        
    }
}

%top-page-text{

    display: flex;
    flex-direction: column;
    font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
    text-align: left;

    height: 90%;
    padding:0;
    margin:0;
    overflow: hidden;
    margin-top: 2rem;
    h1{
        animation-duration: 0.7s;
        animation-fill-mode: both;
        animation-name: fadeInDown;
        animation-delay: 0.75s;
    
        color: #201e17;
        font-weight: 1000;
        font-size:4.2rem;
        margin-left: 0rem;
        line-height: 4rem;
    }

    h2{
        animation-duration: 0.7s;
        animation-fill-mode: both;
        animation-name: fadeInDown;
        animation-delay: 0.75s;
        color: #352f22;
        font-weight: 1000;
        font-size:1.6rem;
        margin-left: 4rem;
        /* font-family: 'Montserrat', sans-serif; */
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    h3{
        animation-duration: 0.7s;
        animation-fill-mode: both;
        animation-name: fadeInDown;
        animation-delay: 0.75s;
        color: #352f22;
        font-weight: bold;
        font-size:.85rem;
        margin-left: 4rem;
        font-family: 'Montserrat', sans-serif; 
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    p{
        animation-duration: 0.7s;
        animation-fill-mode: both;
        animation-name: fadeInDown;
        animation-delay: 0.75s;
        font-size:1.5rem;
        margin: 2rem 0rem 0rem 8rem;
        flex:1;
    }

}


.home-text{
    @extend %top-page-text;
    margin-left: 35vw;

    .home-social{
        animation-duration: 0.7s;
        animation-fill-mode: both;
        animation-name: fadeInUp;
        animation-delay: 0.75s;
        // vertical-align: bottom;
        padding: 1rem 0;
        list-style: none;
        margin: .8rem;
        text-align: center;
        border-bottom: 1px solid #333333;
        // border-radius: 0.5rem;
        overflow: hidden;
            
        li {
            display: inline-block;
            margin-left: 3.5rem;
          }
          
        a {
            color: #7b7b7b;
            display: inline-block;
            padding: 0.5rem 1rem;
            margin: 0.3rem 0;
            text-decoration: none;
            font-size: 1.75rem;
            -webkit-border-radius: 0.3rem;
                    border-radius: 0.3rem;
            background-color: #262626;
            -webkit-transition: all .35s ease-in-out;
            transition: all .35s ease-in-out;
          }
          
        a:hover {
            background-color: #4e4e4e;
            color: #ffffff;
          }
          

    }
    
    
}

.resume-text{
    @extend %top-page-text;
    margin-left: 35vw;

}
.about-text{
    @extend %top-page-text;
    margin-left: 40vw;

}
