.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 130px 0 130px;
  height: 100%;
  width: 100%;
}

[data-aos="example-anim3"] {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos="example-anim3"].aos-animate {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.arrow-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 5rem 0 5rem;
}

.arrow {
  position: relative;
  cursor: pointer;
  width: 10px;
  height: 10px;
  box-shadow: 1px -1px 0 1px #123456;
  -webkit-box-shadow: 2px -2px #123456;
  border: solid transparent;
  border-width: 0 0 1rem 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.arrow:hover {
  box-shadow: 2px -2px 0 2px #123456;
  -webkit-box-shadow: 4px -4px #123456;
}

.arrow-up {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.arrow-right {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.arrow-down {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow-left {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.page-imgs img {
  border-radius: 45px;
  width: 300px;
  height: 300px;
}

.w3-badge {
  height: 16px;
  width: 13px;
  padding: 0;
}

.mySlides {
  display: none;
}

.page-row {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  -ms-grid-columns: 350px auto;
      grid-template-columns: 350px auto;
  margin-top: 4rem;
  margin-bottom: 100px;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-row .page-col-1 {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-row .page-col-1 img {
  border-radius: 45px;
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: -4px 6px 13px #585858;
          box-shadow: -4px 6px 13px #585858;
}

.page-row .page-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  color: #2e1c1c;
}

.page-row .page-col-2 .col-title {
  width: 100%;
}

.page-row .page-col-2 .col-title h1 {
  margin-left: -0.1em;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  line-height: 1.2rem;
  color: #37c;
}

.page-row .page-col-2 .col-title h2 {
  line-height: .5rem;
  font-size: .75rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
  color: #436a99;
  text-transform: uppercase;
}

.page-row .page-col-2 .col-description {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  row-gap: 0rem;
  margin: 0;
  line-height: .75rem;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1.35rem;
  font-family: 'Montserrat', sans-serif;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-row .page-col-2 .col-description .col-date {
  position: relative;
  height: 100%;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  margin: 0;
  margin: 0;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 600;
  text-align: right;
}

.page-row .page-col-2 .col-description .col-description-title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.page-row .page-col-2 .col-description .col-description-title h2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #5e9516;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.page-row .page-col-2 .col-description .col-location {
  position: relative;
  height: 100%;
  -webkit-box-pack: bottom;
      -ms-flex-pack: bottom;
          justify-content: bottom;
  justify-items: bottom;
  -ms-flex-line-pack: bottom;
      align-content: bottom;
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
  padding-top: .6rem;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 600;
  text-align: right;
  margin: 0;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.page-row .page-col-2 .col-content {
  margin-bottom: 1.5rem;
  width: 100%;
}

.page-row .page-col-2 .col-list {
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  color: #4a4e53;
  font-size: 100%;
  line-height: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
  list-style-type: disc;
  list-style-position: outside;
}

.page-row .page-col-2 .col-list li {
  margin: .55rem 0 .55rem 1em;
}

.page-row .page-col-2 .col-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-row .page-col-2 .col-tags li {
  border: 1px solid #50a9d1;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  display: inline-block;
  font-size: 11px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.page-title hr {
  height: 1px;
  width: 100px;
  border: 0;
  border-top: 4px solid #2e1c1c;
  margin: 3.6rem 1.5rem 0 1.5rem;
  padding: 0;
}

.page-title h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  color: #2e1c1c;
  text-align: center;
  font-size: 4rem;
}

.page-description {
  color: #363333;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  text-align: center;
  font-size: .95rem;
  font-weight: 600;
  margin-bottom: 2rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
}

.section .with-padding {
  padding: 0 130px 0 130px;
}

.section .page-content p {
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  color: #50555c;
  line-height: 1.25;
  font-size: 100%;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  text-align: left;
  font-weight: none;
  margin-bottom: 1.35rem;
}

.section .page-content h1 {
  color: #363333;
  text-align: left;
  font-size: .85rem;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
/*# sourceMappingURL=page.css.map */