.top-page-image {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.top-page-image img {
  min-height: 100vh;
}

.home-text, .resume-text, .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  text-align: left;
  height: 90%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  margin-top: 2rem;
}

.home-text h1, .resume-text h1, .about-text h1 {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
  color: #201e17;
  font-weight: 1000;
  font-size: 4.2rem;
  margin-left: 0rem;
  line-height: 4rem;
}

.home-text h2, .resume-text h2, .about-text h2 {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
  color: #352f22;
  font-weight: 1000;
  font-size: 1.6rem;
  margin-left: 4rem;
  /* font-family: 'Montserrat', sans-serif; */
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.home-text h3, .resume-text h3, .about-text h3 {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
  color: #352f22;
  font-weight: bold;
  font-size: .85rem;
  margin-left: 4rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.home-text p, .resume-text p, .about-text p {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
  font-size: 1.5rem;
  margin: 2rem 0rem 0rem 8rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home-text {
  margin-left: 35vw;
}

.home-text .home-social {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
  padding: 1rem 0;
  list-style: none;
  margin: .8rem;
  text-align: center;
  border-bottom: 1px solid #333333;
  overflow: hidden;
}

.home-text .home-social li {
  display: inline-block;
  margin-left: 3.5rem;
}

.home-text .home-social a {
  color: #7b7b7b;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.3rem 0;
  text-decoration: none;
  font-size: 1.75rem;
  border-radius: 0.3rem;
  background-color: #262626;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.home-text .home-social a:hover {
  background-color: #4e4e4e;
  color: #ffffff;
}

.resume-text {
  margin-left: 35vw;
}

.about-text {
  margin-left: 40vw;
}
/*# sourceMappingURL=top-page.css.map */